body{
  background:linear-gradient(rgb(101, 101, 101), rgb(48, 48, 48));
  background-attachment: fixed;
}
#opt{
  color: white;
  text-align: center;
}

.mobile{
  position: absolute;
  font-size: 2rem;
  background-color: grey;
  top: 150px;
  border-radius: 20px;
  padding: 10px 20px;
  left: 47%;
}
.mobile:hover{
  position: absolute;
  background-color: rgb(73, 73, 73);
}



.Computer{
  position: absolute;
  font-size: 2rem;
  background-color: grey;
  top: 220px;
  border-radius: 20px;
  padding: 10px 20px;
  left: 46%;
}
.Computer:hover{
  position: absolute;
  background-color: rgb(73, 73, 73);
}