body{
    background-color: white;
}


.box{
    border: solid;   
    border-width: 0px;
    width: 100%;
    height: 15%;
    position:absolute ;
    top: 0px;
    left: 0px;
    background-color:#ba53e6;
}

.logo{position:relative;
    top: -130px ;
    text-align: center;
}

.container{
    width: 100%;
    min-height: 100vh;
    padding: 5%;
    background-image: linear-gradient(rgba(0,8,51,0.0) , rgba(0,8,51,0.0));
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -100px;
    left: -5%;
}

.search-bar{
    width: 100%;
    max-width: 600px;
    background: rgba(255, 0, 255, 0.2);
    display: flex;
    align-items: center;
    border-radius: 60px;
    padding: 10px 30px;
}

.search-bar input{
    font-size: 1.5rem;
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
}

#button{
    font-size: 2rem;
    border: 0px;
    background: transparent;
}



#lastbox{
    background-color: black;
    border: 10px solid;
    width: 100%;
    height: 200px;
    margin-left: -10px;
    margin-top:auto;
    position: absolute;
    top: 750px;
}
.search{
    color: white;
    font-family: 'DynaPuff', cursive;
    font-size: 3rem;
    position: absolute;
    margin-top: 60px;
    margin-left: 400px;
}
#lastbox{
    background-color: black;
    border: 10px solid;
    width: 100%;
    height: 200px;
    margin-left: -10px;
    margin-top:auto;
    position: absolute;
    top: 750px;
}
.search{
    color: white;
    font-family: 'DynaPuff', cursive;
    font-size: 3rem;
    position: absolute;
    margin-top: 60px;
    margin-left: 400px;
}

.google{
    color: gold;
    font-size: 5rem;
    margin-left: 750px;
    margin-top: 50px;
    z-index: 0;
    position: absolute;
}
.bing{
    color: rgb(114, 114, 255);
    margin-left: 970px;
    margin-top: 50px;
    z-index: 0;
    position: absolute;
}

.yahoo{
    color: rgb(64, 0, 144);
    font-size: 5rem;
    margin-left: 1250px;
    margin-top: 50px;
    z-index: 0;
    position: absolute;
}